<%= form_with model: @article, local: true do |form| %>
 <div class="form-group">
  <% if @article.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h4>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
     <%= form.hidden_field :user, value: current_user.name %>
    <%= form.label :title  %>
    <%= form.text_field :title,class: 'form-control' %>
    <%= form.label 'Article' %>
    <%= form.text_area :text,class: 'form-control' %>
     <%= button_tag type: 'submit', class: "btn btn-primary my-2" do %>
      <i class="fas fa-plus"></i> Create
  <% end %>
 </div>
<% end %>