<h1 class='text-center mt-3'>Listing articles</h1>

<div class="w-100" style="height:30px">
<% if logged_in? %>
<%= link_to fa_icon('plus-square',text: 'New Article') ,new_article_path,class: 'btn btn-default my-2' %>
<% end %>
<%= render './layouts/buttons' %>
</div>
  <div>
  <% @articles.each do |article| %>
    <div class="card mt-3">
    <div class="card-body">
    <h3 class="mt-3"><%= article.title%></h3>
    <p> Created by: <%= article.user %></p> 
    <p class="mb-3"><%= article.text %></p>
    <small>Posted: <%= time_ago_in_words article.updated_at %> ago.</small>
    <small class="float-right">Number of comments: <%= article.comments.count %></small>
    <div class="text-center">
    <%= link_to fa_icon('eye',text:'Show'), article_path(article),class: 'btn btn-primary' %>
    <% if correct_user?(article.user) %>
    <%= link_to fa_icon('edit',text:'Edit'), edit_article_path(article),class: 'btn btn-warning' %>
    <%= link_to fa_icon('trash-alt',text:'Delete'), article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' },class: 'btn btn-danger' %>     
    <% end %>
    </div>
    </div>
    </div>
  <% end %>
  </div>
