<%= form_with model: @user, local: true do |form| %>
 <div class="form-group">
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.label :name  %>
    <%= form.text_field :name,class: 'form-control' %>
    <%= form.label :email %>
    <%= form.email_field :email,class: 'form-control' %>
 
    <%= form.label :password %>
    <%= form.password_field :password,class: 'form-control' %>
    <%= form.label 'Confirm Password' %>
    <%= form.password_field :password_confirmation,class: 'form-control' %>
    <div class="image-upload mt-2 btn btn-primary">
   <label for="file-input">
     <span><i class="fas fa-images"></i> Add Image</span>
   </label>

   <%= form.file_field :picture, id:"file-input",accept: 'image/jpeg,image/gif,image/png'%>
</div>
<br/>
     <%= button_tag type: 'submit', class: "btn btn-primary my-2" do %>
      <i class="fas fa-plus"></i> <%= yield(:button_name) %>
  <% end %>
 </div>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
