<div class="my-3">
<% if only_admin? %>
<%= link_to fa_icon('toolbox',text: 'Admin'),users_path,class: 'float-right btn btn-success' %>
<% end %>
<%= link_to fa_icon('edit',text:'Edit'), edit_user_path(@user),class: 'float-right btn btn-warning' %>
<%= link_to fa_icon('chevron-left',text:'Back'), articles_path,class:'float-left btn btn-default' %>
<div class="clearfix">
</div>
</div>
<div class="card">
<div class="card-body">
<h3>Username :<strong><%= @user.name %></strong>
</h3>
 <p>Email : <%= @user.email %>
</p>
</div>
</div>
 <% if @articles.count > 0 %>
<div class="card">
<div class="card-body">
        <h3>Articles posted :</h3>
        <% @articles.each do |article| %>
        <%= link_to article.title, article_path(article) %>
         <p><%= article.text %></p>
         <small>Number of comments: <%= article.comments.count %></small>
         <hr/>
        <% end %>

</div>
</div>
    <% end %>